<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- directive : Dom 엘리먼트가 무언가를 수행하도록 지시하는 특수한 토큰 -->
    <title>v-if : 조건에 따라 엘리먼트를 화면에 표시(dom)</title>
    <!-- v-if : 보이고 안보이고를 Dom 생성/제거로 처리함 : 토글 비용이 높음 -->
</head>
<body>
    <div id="app">
        <h1 v-if="!message">you must sena a message for help</h1>
        <textarea v-model="message"></textarea>
        <button v-if="message">
            Send word to allies for help!
        </button>
        <pre>
            {{ $data }}
        </pre>
        <!-- $data의 출력결과는 Vue의 data와 바인딩 되며 변경될 때마다 갱신 -->
    </div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
    new Vue({
        el:'#app',
        data: {
            message: 'Our king is dead'
        }
    })
</script>
</body>
</html>