<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-if</title>
    <style>
    </style>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>
<body>
    <div id="account">
        <p>
            잔고 : <input type="text" v-model="balance">
        </p>
        <p>
            회원님의 등급 :
            <span v-if="balance >= 1000000">Gold</span>
            <span v-else-if="balance >= 500000">Silver</span>
            <span v-else-if="balance >= 200000">Bronze</span>
            <span v-else>Basic</span>
        </p>
    </div>
    <script>
    // v-show는 렌더링 했다가 false 일때 display:none 해놓음
    var simple1 = new Vue({
        el : '#account',
        data : {
            balance : 0
        }
    });
    </script>
</body>
</html>