<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>css 클래스 바인딩 v-bind:class</title>
    <style>
    .set1{background-color: aqua; color: purple;}
    .set2{text-align: center; width: 120px;}
    .set3{border: 1px dashed sandybrown;}
    </style>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>
<body>
    <!-- v-bind:class는 boolean값 이용 : 개별(주석처리)바인딩 방식보다 객체를 바인딩이 나은듯 -->
    <div id="example">

        <!-- <button id="btn1" v-bind:class="{set1:s1, set2:s2, set3:s3}" >버튼1</button> -->
        <button id="btn1" v-bind:class="mystyle" >버튼1</button>
        <p>
            <!-- <input type="checkbox" v-model="s1" value="true">set1 디자인<br>
            <input type="checkbox" v-model="s2" value="true">set2 디자인<br>
            <input type="checkbox" v-model="s3" value="true">set3 디자인<br> -->
            <input type="checkbox" v-model="mystyle.set1" value="true">set1 디자인<br>
            <input type="checkbox" v-model="mystyle.set2" value="true">set2 디자인<br>
            <input type="checkbox" v-model="mystyle.set3" value="true">set3 디자인<br>
        </p>
    </div>
    <script>
        var vm = new Vue({
            el : "#example",
            data : {
                // s1:false, s2:false, s3:false
                mystyle : { set1:false, set2:false, set3:false }
            }
        });
    </script>
</body>
</html>