<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello name 예제 만들기</title>
</head>
<body>
    <!-- #app>h1{hello {{name}}}+input[v-model="message"] -->
    <div id="app">
        <h1>hello {{name}}</h1>
        <input type="text" v-model="message">
    </div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
     new Vue({
         el: '#app',
         data: {
             name: '안지현♥'
         }
     })
</script>
</body>
</html>