<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>관찰 속성(watch)을 계산형 속성(computed)으로</title>
    <style>
        #list{width: 400px; border: 1px solid #000; border-collapse: collapse;}
        #list td, #list th{border: 1px solid #000; text-align: center}
        #list > thead > tr {color: yellow; background-color: purple}
        /* 템플릿 문자열이 일시적으로 나타나는 현상 제거*/
        [v-cloak] {display: none;} 
    </style>
</head>
<body>
    <div id="example">
        <p>
            이름 : <input type="text" v-model="name" placeholder="두자 이상 입력하세요">
        </p>
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <tr v-for="contact in contactlist">
                    <td>{{contact.no}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
            </tbody>
        </table>
        <div v-show="isProcessing === true">조회중</div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
    <!-- es6-promise는 IE에서 Promise 객체를 이용하기 위한 폴리필 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
    <script>
        // 단순 변경되는 데이터 사용할때 계산형속성(computed)이 더 간편
        var vm = new Vue({
            el : "#example",
            data : {
                name : "",
                isProcessing : false,
                contactlist : []
            },
            watch :{
                // name 속성의 변화 감지하면 함수 실행
                name : function(val) {
                    if(val.length >= 2) { // 2자 이상 입력되면 fetchContacts() 호출
                        this.fetchContacts();
                    } else{
                        this.contactlist = [];
                    }
                }
            },
            methods :{
                // _.debounce():underscore라이브러리 제공 메서드, 짧은 시간에 너무 많은 API요청 일어나는 것을 막음
                fetchContacts : _.debounce(function(){
                    this.contactlist = [];
                    this.isProcessing = true;
                    var url = "http://sample.bmaster.kro.kr/contacts_long/search/" + this.name;
                    var vm = this;
                    // fetch()의 리턴값은 promise 객체 (서버 응답이 오면 .then()에 전달한 함수가 호출됨)
                    // 따라서 fetch()를 호출하는 시점과 then()에 인자로 전달한 함수가 실행되는 시점이 차이가 난다.
                    fetch(url)
                        .then(function(response){
                            return response.json();
                        }).then(function(json){
                            vm.contactlist = json;
                            vm.isProcessing = false;
                        }).catch(function(ex){
                            console.log('parsing falied', ex);
                            vm.contactlist = [];
                            vm.isProcessing = false;
                        });
                }, 300) // _.debounce가 300ms동안 입력없을 때 API요청 수행함(네트워크 트래픽 감소용)
            }
        });
    </script>
</body>
</html>