<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>관찰 속성(watch) </title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>
<body>
    <div id="example">
        <p>x : <input type="text" v-model="x" /></p>
        <p>y : <input type="text" v-model="y" /></p>
        덧셈 결과 : {{sum}}
    </div>
    <script>
        // 변경되는 데이터 사용할때 계산형속성(computed)와 함께 사용됨
        // 긴 처리 시간이 필요한 비동기처리에 적합
        var vm = new Vue({
            el : "#example",
            data : { x:0, y:0, sum:0 },
            // watch :{ 속성 이름 : 속성이 변경되었을 때 호출할 함수(변경된속성){...} }
            watch :{
                x : function(v) { // 값 바뀔때 마다 호출
                    console.log("## x 변경"); 
                    var result = Number(v) + Number(this.y);
                    if(isNaN(result)) this.sum = 0;
                    else this.sum = result;
                },
                y : function(v) { // 값 바뀔때 마다 호출
                    console.log("## y 변경");
                    this.y = v;
                    var result = Number(this.x) + Number(v);
                    if(isNaN(result)) this.sum = 0;
                    else this.sum = result;                    
                }
            }
        });
    </script>
</body>
</html>